extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let ornamentsid = toShow._id 
    - let OrnamentType = toShow.OrnamentType 
    - let OrnamentCost = toShow.OrnamentCost 
    - let OrnamentStrength = toShow.OrnamentStrength 
    - let actionid = "/resource/ornaments/" + ornamentsid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='ornamentsAttr mr-3') Ornaments ID is: 
        div #{ornamentsid} 
      div.row 
        div(class='ornamentsAttr mr-3') Ornament Type  is: 
        div #{OrnamentType} 
      div.row 
        div(class='ornamentsAttr mr-3') Ornament Cost  is: 
        div #{OrnamentCost} 
      div.row 
        div(class='ornamentsAttr mr-3') Ornament Strength  is: 
        div #{OrnamentStrength} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
    script. 
     function cancel() { 
       // Go back to the home page for the costume collection 
       window.location.href='/ornaments' 
     } 
    script. 
     function deleteOnid() { 
       console.log("starting delete") 
       // delete first 
       fetch(actionid, { 
         method: 'DELETE' 
       }).then((resp) => { 
         return resp.json(); // or resp.text() or whatever the server sends 
       }).then((body) => { 
         alert("Delete succeded") 
         window.location.href='/ornaments' 
         // TODO handle body 
       }).catch((error) => { 
         // TODO handle error 
         alert("Delete failed " + error ) 
       }); 
    } 